.about_container {
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
  padding-bottom: 4rem;
}

.about_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(394px, 1fr));
  gap: 20px;
  max-width: 1500px;
  padding-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
}

.about_img {
  width: 100%;
}

.about_grid p {
  font-size: 1rem;
}

.about_contents {
  padding: 1.35rem;
}

.about_grid h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.about_grid img {
  max-height: 100%;
  max-width: 100%;
}

/* * add perform */
/* .about_img {
  filter: blur(20px);
} */

@media screen and (min-width: 1500px) {
  .about_contents {
    padding: 3rem 1.35rem 4rem 1.35rem;
  }
  .about_grid img {
    width: 80%;
  }
}

@media screen and (max-width: 1012px) {
  .about_grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .about_grid img {
    width: 70%;
  }
  .about_col_switch {
    order: 1;
  }
}

@media screen and (max-width: 550px) {
  .about_contents {
    padding: 0;
  }
  .about_grid img {
    width: 100%;
  }
}
