.about_container {
  display: grid;
  padding: 1rem;
  gap: 3rem;
  padding-bottom: 4rem;
  margin: 0 auto;
}

.about_img {
  width: 80%;
}

.center_col {
  display: flex;
  justify-content: center;
}
/* .lazy-img {
  filter: blur(20px);
} */

.about_feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.about_header {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.about_header,
p {
  font-size: 1rem;
}

.column {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media screen and (max-width: 1511px) {
  .about_container {
    max-width: 1250px;
  }
}

.column {
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, /* min value */ 2fr /* max value */)
  );
  gap: 20px;
}

@media (max-width: 960px) {
  .column {
    grid-template-columns: repeat(1, 1fr);
  }
  .left_img {
    order: 2;
  }
  .column {
    text-align: center;
  }

  .column img {
    justify-self: center;
  }
}

@media screen and (max-width: 670px) {
  .about_feature {
    width: 90%;
  }
}
