.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
  max-width: 2300px;
}

.hero_content {
  justify-self: start;
  margin-left: 20px;
  width: 100%;
}

.hero_content h1 {
  font-size: 2rem;
}

.hero_content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.hero_btn {
  display: inline-block;
  background: none;
  font-size: 1rem;
  margin-top: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.hero_btn a {
  color: var(--color-primary);
  text-decoration: none;
}

#hero_img {
  height: 80%;
  width: 80%;
}

/* * MOBILE */

@media screen and (max-width: 768px) {
  .hero_container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
  }

  .hero_content {
    justify-content: center;
    width: 80%;
    margin: 0;
  }

  .hero_content {
    font-size: 2.5rem;
  }

  .hero_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #hero_img {
    display: none;
  }

  .highlight {
    position: relative;
  }

  .highlight::after {
    display: block;
    background-color: aqua;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-color: var(--color-primary);
  }
}

@media screen and (max-width: 480px) {
  .hero_content {
    position: relative;
    text-align: center;
    align-items: center;
    justify-self: center;
  }

  .hero_content h1 {
    font-size: 1.5rem;
  }

  .hero_content p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .hero_btn a {
    margin-top: 2.5rem;
  }
}
