.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
}

.hero_content {
  justify-self: start;
  margin-left: 20px;
  width: 80%;
}

.hero_content h1 {
  font-size: 2rem;
}

.hero_content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.hero_btn {
  display: inline-block;
  background: none;
  font-size: 1rem;
  margin-top: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.hero_btn a {
  color: var(--color-primary);
  text-decoration: none;
}

#hero_img {
  height: 80%;
  width: 80%;
}

/* * MOBILE */

@media screen and (max-width: 768px) {
  .hero_container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
  }

  .hero_content {
    justify-content: center;
    width: 80%;
    margin: 0;
  }

  .hero_content {
    font-size: 2.5rem;
  }

  .hero_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #hero_img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hero_content {
    position: relative;
    text-align: center;
    align-items: center;
    justify-self: center;
  }

  .hero_content h1 {
    font-size: 1.5rem;
  }

  .hero_content p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .hero_btn a {
    margin-top: 2.5rem;
  }

  /* #hero_img {
    position: absolute;
    display: block;
    top: 65%;
    width: 100%;
  } */
}
