#section--2 {
  background-color: #ececec;
}

.pricing {
  min-height: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  max-width: 2400px;
  margin: auto;
  gap: 15px;
  justify-content: center;
  padding-bottom: 4rem;
}

.pricing-plan {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-white);
  width: 70%;
  padding: 30px;
  transition: width 0.4s ease-in-out, flex 0.4s ease-in-out;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
}

.pricing-plan h2 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #00999d;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.pricing-plan p {
  margin-top: 0;
}

.pricing-plan p span {
  font-size: 33px;
}

.pricing-plan ul {
  margin: 0 0 35px;
  padding-left: 16px;
  list-style: none;
  line-height: 1.8;
}

.pricing-plan ul li::before {
  content: "•";
  color: #00999d;
  display: inline-block;
  width: 20px;
  margin-left: -15px;
  position: relative;
  top: 4px;
  font-size: 26px;
  line-height: 0;
}

.pricing-plan ul li:last-child() {
  display: none;
}

.pricing-plan a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  background: #00999d;
  border: 2px solid #00999d;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.pricing-plan a:hover {
  background-color: var(--color-white);
  color: inherit;
}

@media (max-width: 1800px) {
  .pricing {
    flex-wrap: wrap;
  }
  .pricing-plan {
    margin: 0 auto;
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .pricing {
    flex-direction: column;
  }
  .pricing-plan {
    margin: 0 auto;
    width: 95%;
  }
}
