#section--3 > .section_header__container {
  padding-bottom: 9.1rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  /* removes blue square on button press ISO */
  -webkit-tap-highlight-color: transparent;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.memberships {
  max-width: 200rem;
  padding-bottom: 4rem;
  max-width: 1400px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
}

.memberships_tab_container {
  display: flex;
  justify-content: center;
}

.memberships_tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}
.memberships_tab--4 {
  margin: 0;
}

.memberships_tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}

.memberships_tab {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.memberships_tab:hover {
  background-color: var(--color-sticky-nav);
  transition: all 0.3s ease-out;
  color: inherit;
}

.memberships_tab--active {
  transform: translateY(-66%);
  background-color: var(--color-sticky-nav);
  color: inherit;
}

.memberships_content {
  display: none;
  font-size: 1rem;
}

.memberships_content ul {
  list-style: none;
}

.empty_li {
  visibility: hidden;
}

.memberships_content li::before {
  content: "â—";
  color: var(--color-primary);
  margin-right: 7px;
}

.memberships_content--active {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.memberships_header {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.memberships_list {
  margin: 0 auto;
  text-align: left;
}

/* * TRAIN HEROIC */

.train_heroic_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.train_heroic {
  padding: 1.35rem;
  border-radius: 4px;
}

.train_heroic h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.train_heroic_content img {
  width: 95%;
}

.train_heroic a {
  text-decoration: none;
  color: var(--color-primary-darker);
  font-weight: 600;
}

@media screen and (max-width: 938px) {
  .memberships_tab_container {
    margin: 0 2px 0 2px;
  }
  .memberships_tab {
    margin-right: 1rem;
    justify-content: center;
  }
  .btn {
    padding: 1rem 1rem;
  }
  .memberships_tab--4 {
    margin: 0;
  }
  .memberships_tab span {
  }
}

@media screen and (max-width: 700px) {
  .memberships_tab_container {
    margin: 0 2px 0 2px;
  }
  .memberships_tab {
    margin-right: 0.3rem;
    justify-content: center;
  }
  .btn {
    border-radius: 0.5rem;
    padding: 0 1rem 0 1rem;
  }
  .memberships_tab--4 {
    margin: 0;
  }
  .memberships_tab span {
    margin: 0 0.5rem 0 0.8rem;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .memberships_tab_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    margin: 0 2px 0 2px;
  }
  .memberships_tab {
    transform: none;
    margin-right: 0.1rem;
  }
  .btn {
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.4rem 0.4rem;
  }

  .memberships_content {
    padding-top: 2.5rem;
    text-align: center;
  }
  .memberships_tab span {
    margin-right: 0.5rem;
    display: inline-block;
  }
  #section--3 > .section_header__container {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 1012px) {
  .train_heroic_content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .train_heroic_content img {
    width: 70%;
  }
}
