.container {
  padding: 0 1rem 4rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
}

.service_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 30px;
}

.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--color-primary);
}

.service:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: scale(1.05);
}

.service:hover i,
.service:hover p {
  color: var(--color-white);
}

@media screen and (max-width: 1321px) and (min-width: 700px) {
  .service_row {
    grid-template-columns: repeat(2, minmax(290px, 1fr));
  }
}
