#section--2 {
  background-color: #ececec;
}

.service_wrapper {
  padding: 0 1rem 4rem 1rem;
  max-width: 2400px;
  margin: 0 auto;
}

.service_container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.service_content {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service_content h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.service_content i {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--color-primary);
}

.service_content:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: scale(1.05);
}

.service_content:hover i,
.service_content:hover p {
  color: var(--color-white);
}

@media screen and (max-width: 1321px) and (min-width: 700px) {
  .service_container {
    grid-template-columns: repeat(2, minmax(290px, 1fr));
  }
}

@media screen and (max-width: 645px) {
  .service_container {
    grid-template-columns: 1fr;
  }
}
