@import url("home.css");
@import url("modal.css");
@import url("about.css");
@import url("service.css");
@import url("gallery.css");
@import url("membership.css");
@import url("contact.css");

:root {
  --color-primary: #00999d;
  --color-primary-darker: #007a7e;
  --color-sticky-nav: rgba(255, 255, 255, 0.95);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  font-weight: 300;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

p {
  color: #666;
}

/* ! GENERAL STYLES */
.section {
  border-top: 2px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section_title {
  max-width: 80rem;
  margin: 8rem 8rem 6rem;
}

.section_description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section_header {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .section_title {
    margin: 0;
    text-align: center;
    margin: 4rem 0 2rem 0;
  }

  .section_description {
    font-size: 1.3rem;
  }

  .section_header {
    font-size: 1rem;
  }
}

/* ! NAVBAR   */
#navbar_logo {
  color: var(--color-primary);
  width: 150px;
  justify-self: start;
  margin-left: 20px;
  white-space: nowrap;
}

.nav_container {
  width: 100%;
  background-color: var(--color-sticky-nav);
  position: relative;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 80%;
  max-width: 1720px;
  margin: 0 auto;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  text-align: center;
  width: 80%;
  justify-self: end;
  list-style-type: none;
}

.nav_links {
  color: #444;
  text-decoration: none;
}

.nav_container.sticky {
  position: fixed;
  z-index: 10;
  background-color: var(--color-sticky-nav);
}

.nav_links_btn {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  padding: 6px 16px;
  border-radius: 8px;
  color: #fff;
}

.nav_links_btn:hover {
  background-color: var(--color-sticky-nav);
  transition: all 0.3s ease-out;
  color: inherit;
}

.menu_toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #444;
}

/* * MOBILE */

@media screen and (max-width: 768px) {
  .nav_container {
    position: relative;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--color-sticky-nav);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #navbar_logo {
    margin-left: 20px;
  }

  .nav_menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav_links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav_links:hover {
    background-color: var(--color-primary);
    color: #fff;
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  .nav_links_btn {
    border: none;
    padding: 0;
    border-radius: 0;
    color: #fff;
    transition: all 0.4s ease-out;
  }

  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    color: #fff;

    transition: all 0.4s ease-out;
  }

  #mobile_menu {
    position: absolute;
    top: 20%;
    right: 5%;
  }

  .menu_toggle .bar {
    display: block;
    color: #444;
    transform: translate(5%, 20%);
    cursor: pointer;
  }

  .men_toggle:hover {
    cursor: pointer;
  }

  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
